
{% extends "TheFiles/base.html" %}

{% block content %}
    {% load static %}
    {% if messages %}
        {% for message in messages %}
        <br/>
        <div>
            <center>
                <div style="padding:1rem; background-color:white;color:green; border:solid 2px green">
                <p>
                    <h3><b>{{ message }}</b></h3>
                </p>
                </div>
            </center>
            </div>

        {% endfor %}
    {% endif %}





    <div>
        <center>
            <h1><b>Hello from the home page</b></h1>
        </center>
    </div>

<div>
    <a href="{% url 'createFed' %}  "> create federation file</a>
{% endblock %}


